<h1>{{getCurrencyId()}}</h1>
<section>
  <span class="attribute"><label>code:</label><span class="currency-type">{{getCurrencyCode()}}</span></span>
  <span class="attribute"><label>name:</label><span class="currency-symbole">{{getCurrencyName()}}</span></span>
  <span class="attribute"><label>currency_type:</label><span class="currency-type">{{getCurrencyType()}}</span></span>
  <span class="attribute"><label>code_iso_numeric3:</label><span class="currency-symbole">{{getCurrencyCodeIsoNumeric3()}}</span></span>
  <span class="attribute"><label>code_iso_alpha3:</label><span class="currency-type">{{getCurrencyCodeIsoAlpha3()}}</span></span>
  <span class="attribute"><label>symbol:</label><span class="currency-symbole">{{getCurrencySymbol()}}</span></span>
  <span class="attribute"><label>native_symbol:</label><span class="currency-type">{{getCurrencyNativeSymbol()}}</span></span>
  <span class="attribute"><label>category:</label><span class="currency-symbole">{{getCurrencyCategory()}}</span></span>
</section>
